<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>행복한랜시티공인중개사사무소</title>
</head>
<body>
<form action="/happyRancity" method="post">
  <input type="text" id="id" name="id" placeholder="아이디를 입력하세요">
  <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
  <input type="text" id="phone" name="phone" placeholder="전화번호를 입력하세요">
  <input type="text" id="email" name="email" placeholder="이메일을 입력하세요">
  <select type="" id="use_yn" name="use_yn" placeholder="사용여부">
    <option value="Y" selected>Y</option>
    <option value="N">N</option>
  </select>
  <button type="submit">회원가입</button>
</form>
</body>
</html>